In [7]:
#creating an empty set
empty_set=set()
print(empty_set)

set()

In [41]:
#creating a set with elements
language={'c','c++','python','java'}
print(language)

fruits={'apple','banana','orange'}
print(fruits)

#converting a list to a set
branch=set([5,4,3,2,1])
print(branch)

#duplicate items into set
numbers={99,9,19,29,39,9,66,19,55,66,27,29,9,88,99,55}
print(numbers)

names={'pranay','kittu','pranay','vasu'}
print(names)

bikes={'gt','hero100','hero200','ktm','gt'}
print(bikes)

{'c++', 'python', 'c', 'java'}
{'orange', 'banana', 'apple'}
{1, 2, 3, 4, 5}
{66, 99, 39, 9, 19, 55, 88, 27, 29}
{'kittu', 'pranay', 'vasu'}
{'ktm', 'gt', 'hero100', 'hero200'}

In [61]:
#add items a in python
numbers={2,3,2,5,7,7,8,9}
numbers.add(1)
print('update set',numbers)

languages={'c','java','javascrit'}
languages.add('python')
print('update set',languages)

names={'vamsi','pranay','kittu','vasu'}
names.add('pranay')
print('update set',names)

numbers={2,4,5,6,7,8,9,9,8,7,6,5,4,3,2,}
numbers.add(1)
print('update set',numbers)

update set {1, 2, 3, 5, 7, 8, 9}
update set {'python', 'javascrit', 'c', 'java'}
update set {'kittu', 'pranay', 'vamsi', 'vasu'}
update set {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
#update python set
course= {'cse','csm','ece'}
company={'apple','google','microsoft'}
mobiles={'samsung','oppo','redmi','realme','oneplus'}
cities={'delhi','mumbai','benguluru','chennai',}
numbers={'45','7','18','93','10'}

new_course={'csd','mech'}
update_course=course.update(new_course)
print(course)
new_company={'tcs','tech mahindra'}
update_company=company.update(new_company)
print(company)
new_mobiles={'iphone'}
update_mobiles=mobiles.update(new_mobiles)
print(mobiles)
new_cities={'hyderabad','kolkata'}
update_cities=cities.update(new_cities)
print(cities)
new_numbers={'1','333','44'}
update_numbers=numbers.update(new_numbers)
print(numbers)

{'mech', 'csd', 'ece', 'cse', 'csm'}
{'google', 'apple', 'tech mahindra', 'microsoft', 'tcs'}
{'samsung', 'realme', 'redmi', 'oppo', 'oneplus', 'iphone'}
{'delhi', 'benguluru', 'kolkata', 'hyderabad', 'mumbai', 'chennai'}
{'45', '93', '18', '1', '7', '10', '333', '44'}

In [23]:
#remove()
course= {'cse','csm','ece'}
company={'apple','google','microsoft'}
mobiles={'samsung','oppo','redmi','realme','oneplus'}
cities={'delhi','mumbai','benguluru','chennai',}
numbers={'45','7','18','93','10'}

remove_course=course.remove('ece')
print(course)
remove_company=company.remove('google')
print(company)
discard_mobiles=mobiles.discard('oppo')
print(mobiles)
discard_cities=cities.discard('chennai')
print(cities)
remove_numbers=numbers.remove('10')
print(numbers)

{'cse', 'csm'}
{'apple', 'microsoft'}
{'samsung', 'realme', 'redmi', 'oneplus'}
{'delhi', 'benguluru', 'mumbai'}
{'45', '93', '18', '7'}

In [27]:
#clear()
languages={'c','java','python'}
languages.clear()
print(languages)

bikes={'hero','honda','splender'}
bikes.clear()
print(bikes)

set()
set()

In [33]:
#python set operators
#union of two sets()
set1={10,11,12,13,14,15,16,}
set2={17,18,19,20,10,15,11}
set3={'kittu','sai','pranay','vasu'}
set4={2,3,'vasu','lokesh',}
set5={'vamsi','pranay','sai','kittu'}

print("union of set1 and set2:",set1 |set2)
print("union of set3 and set4:",set3.union (set4))
print("union of set1 and set3:",set1.union(set3))
print("union of set1 and set5:",set1 |set5)
print("union of set4 and set5:",set4 |set5)

union of set1 and set2: {10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
union of set3 and set4: {2, 3, 'pranay', 'vasu', 'lokesh', 'kittu', 'sai'}
union of set1 and set3: {'pranay', 'vasu', 10, 11, 12, 13, 14, 15, 16, 'kittu', 'sai'}
union of set3 and set5: {'pranay', 'vasu', 'vamsi', 'kittu', 'sai'}
union of set4 and set5: {2, 3, 'pranay', 'vasu', 'lokesh', 'vamsi', 'kittu', 'sai'}

In [37]:
#intersection of two sets()
set1={10,11,12,13,14,15,16,}
set2={17,18,19,20,10,15,11}
set3={'kittu','sai','pranay','vasu'}
set4={2,3,'vasu','lokesh',}
set5={'vamsi','pranay','sai','kittu'}

print("intersection of set1 and set2:",set1&set2)
print("intersection of set3 and set4:",set3&set4)
print("intersection of set1 and set3:",set1.intersection(set3))
print("intersection of set1 and set5:",set1.intersection(set5))
print("intersection of set4 and set5:",set4&set5)

intersection of set1 and set2: {10, 11, 15}
intersection of set3 and set4: {'vasu'}
intersection of set1 and set3: set()
intersection of set1 and set5: set()
intersection of set4 and set5: set()

In [49]:
#difference between two numbers()
set1={10,11,12,13,14,15,16,}
set2={17,18,19,20,10,15,11}
set3={'kittu','sai','pranay','vasu'}
set4={2,3,'vasu','lokesh',}
set5={'vamsi','pranay','sai','kittu'}

print("difference of set1 and set2:",set1-set2)
print("difference of set1 and set3:",set1.difference(set3))
print("difference of set3 and set4:",set3.difference(set4))
print("difference of set4 and set5:",set4-set5)
print("difference of set1 and set5:",set1-set5)

difference of set1 and set2: {16, 12, 13, 14}
difference of set1 and set3: {10, 11, 12, 13, 14, 15, 16}
difference of set3 and set4: {'kittu', 'sai', 'pranay'}
difference of set4 and set5: {'lokesh', 2, 3, 'vasu'}
difference of set1 and set5: {10, 11, 12, 13, 14, 15, 16}

In [55]:
#set symmertric()
set1={10,11,12,13,14,15,16,}
set2={17,18,19,20,10,15,11}
set3={'kittu','sai','pranay','vasu'}
set4={2,3,'vasu','lokesh',}
set5={'vamsi','pranay','sai','kittu'}

print("symmetric difference b/w set1 and set2:",set1^set2)
print("symmetric difference b/w set2 and set3:",set2^set3)
print("symmetric difference b/w set2 and set4:",set2^set4)
print("symmetric difference b/w set4 and set5:",set4^set5)
print("symmetric difference b/w set3 and set5:",set3^set5)

symmetric difference b/w set1 and set2: {12, 13, 14, 16, 17, 18, 19, 20}
symmetric difference b/w set2 and set3: {'pranay', 'vasu', 10, 11, 15, 17, 18, 19, 20, 'kittu', 'sai'}
symmetric difference b/w set2 and set4: {2, 3, 'vasu', 'lokesh', 10, 11, 15, 17, 18, 19, 20}
symmetric difference b/w set4 and set5: {2, 3, 'pranay', 'vasu', 'lokesh', 'vamsi', 'kittu', 'sai'}
symmetric difference b/w set3 and set5: {'vamsi', 'vasu'}