In [1]:
#ordered,immutable
#creating empty tuple
empty_tuple =()
empty_tuple

()

In [15]:
#creating a tuple
names = ("sai","sunny","saiteja","someshwar","teja")
print(names)
print(type(names))

Bikes = ("enfield","hero","honda","tvs")
print(Bikes)

mixed_tuple1 = ("bikes",1.72,"banana",333)
print(mixed_tuple1)

mixed_tuple2 = (True , False , "apple" , 1.45)
print(mixed_tuple2)

batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
print(batch_1)

batch_2 = ("koushik","vineeth",11.32,"bhuvan","mahesh","rakesh")
print(batch_2)

batch_3 = ("ganesh","chandhu","tinku",True,"naveen","varun")
print(batch_3)

batch_4 = (32,)
print(type(batch_4))
print(batch_4)

batch_5 = ("ravila","chinni","revi",2222,"prakash","raju")
print(batch_5)

abc = ("kight")
print(abc)

('sai', 'sunny', 'saiteja', 'someshwar', 'teja')
<class 'tuple'>
('enfield', 'hero', 'honda', 'tvs')
('bikes', 1.72, 'banana', 333)
(True, False, 'apple', 1.45)
('vasu', 'kittu', 'pranay', 'lokesh', 'shiva')
('koushik', 'vineeth', 11.32, 'bhuvan', 'mahesh', 'rakesh')
('ganesh', 'chandhu', 'tinku', True, 'naveen', 'varun')
<class 'tuple'>
(32,)
('ravila', 'chinni', 'revi', 2222, 'prakash', 'raju')
kight

In [9]:
#Accessing of tuples
#indexing of tuples
names = ("sai","lokesh","vamsi","sunny","saiteja")
Bikes = ("enfield","hero","honda","tvs")
mixed_tuple1 = ("banana",2.32,"bikes",453)
mixed_tuple2 = (True , False , "apple" , 2.45)
batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
batch_2 = ("kumar","kiran",11.32,"bhuvan","tinku","naveen")
batch_3 = ("ganesh","chandhu","praveen",True,"manoj","varun")
batch_4 = (32,)
batch_5 = ("ravila","chinni","ravi",22222,"prakash","raju")
abc = ("kight")
print(names[2])
print(Bikes[3])
print(mixed_tuple1[1])
print(mixed_tuple2[3])
print(batch_1[2])
print(batch_2[0])
print(batch_3[3])
print(batch_4[0])
print(batch_5[2])
print(abc[4])

##Slicing of tuples
names = ("sai","lokesh","vamsi","sunny","saiteja")
Bikes = ("enfield","hero","honda","tvs")
mixed_tuple1 = ("banana",2.32,"bikes",453)
mixed_tuple2 = (True , False , "apple" , 2.45)
batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
batch_2 = ("rakesh","mahesh",11.32,"bhuvan","tinku","naveen")
batch_3 = ("ganesh","chandhu","praveen",True,"manoj","varun")
batch_4 = (32,)
batch_5 = ("ravila","chinni","ravi",22222,"prakash","raju")
abc = ("kight")
print(names[2 : 4])
print(Bikes[0 : 2])
print(mixed_tuple1[2 : 5])
print(mixed_tuple2[-3 : 0])
print(batch_1[2 : 4])
print(batch_2[0 : 2])
print(batch_3[2 : 5])
print(batch_4[0 : ])
print(batch_5[ : 2])
print(abc[4 : ])

vamsi
tvs
2.32
2.45
pranay
kumar
True
32
ravi
t
('vamsi', 'sunny')
('enfield', 'hero')
('bikes', 453)
()
('pranay', 'lokesh')
('rakesh', 'mahesh')
('praveen', True, 'manoj')
(32,)
('ravila', 'chinni')
t

In [11]:
#Tuple Operations
#1) Concatination
names = ("sai","lokesh","vamsi","sunny","saiteja")
Bikes = ("enfield","hero","honda","tvs")
mixed_tuple1 = ("banana",1.32,"bikes",543)
mixed_tuple2 = (False , False , "apple" , 2.45)
batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
batch_2 = ("rakesh","mahesh",10.22,"bhuvan","tinku","naveen")
batch_3 = ("ganesh","chandhu","praveen",True,"manoj","varun")
batch_4 = (28,)
batch_5 = ("ravila","chinni","ravi",22222,"someshwar","raju")
abc = ("kight",)
print(names + Bikes)
print(mixed_tuple1 + mixed_tuple2)
print(batch_1 + batch_2)
print(batch_3 + batch_4)
print(batch_5 + abc)
print(names + abc)
print(mixed_tuple1 + batch_5)
print(mixed_tuple2 + batch_4)
print(batch_1 + batch_2 + batch_3)
print(names + Bikes + batch_1 + batch_2 + batch_3)

('sai', 'lokesh', 'vamsi', 'sunny', 'saiteja', 'enfield', 'hero', 'honda', 'tvs')
('banana', 1.32, 'bikes', 543, False, False, 'apple', 2.45)
('vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'rakesh', 'mahesh', 10.22, 'bhuvan', 'tinku', 'naveen')
('ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun', 28)
('ravila', 'chinni', 'ravi', 22222, 'someshwar', 'raju', 'kight')
('sai', 'lokesh', 'vamsi', 'sunny', 'saiteja', 'kight')
('banana', 1.32, 'bikes', 543, 'ravila', 'chinni', 'ravi', 22222, 'someshwar', 'raju')
(False, False, 'apple', 2.45, 28)
('vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'rakesh', 'mahesh', 10.22, 'bhuvan', 'tinku', 'naveen', 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun')
('sai', 'lokesh', 'vamsi', 'sunny', 'saiteja', 'enfield', 'hero', 'honda', 'tvs', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'rakesh', 'mahesh', 10.22, 'bhuvan', 'tinku', 'naveen', 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun')

In [13]:
#2) Repetition
names = ("sai","lokesh","vamsi","sunny","saiteja")
Bikes = ("enfield","hero","honda","tvs")
mixed_tuple1 = ("bikes",1.72,"banana",543)
mixed_tuple2 = (False , False , "apple" , 2.45)
batch_1 = ("vasu","kittu","pranay","lokesh","shiva")
batch_2 = ("rakesh","mahesh",9.32,"bhuvan","tinku","naveen")
batch_3 = ("ganesh","chandhu","praveen",True,"manoj","varun")
batch_4 = (25,)
batch_5 = ("ravila","chinni","ravi",222,"someshwar","raju")
abc = ("kight",)
print(names * 2)
print(Bikes *3)
print((batch_3 + batch_4) * 4)
print((batch_5 + abc) * 3)
print((batch_1 + batch_2 + batch_3) * 2)
print((names + Bikes + batch_1 + batch_2 + batch_3) * 3)
print((names + Bikes) * 1)
print((mixed_tuple1 + mixed_tuple2) * 3)
print(batch_4 * 2)
print(batch_2 * 3)

('sai', 'lokesh', 'vamsi', 'sunny', 'saiteja', 'sai', 'lokesh', 'vamsi', 'sunny', 'saiteja')
('enfield', 'hero', 'honda', 'tvs', 'enfield', 'hero', 'honda', 'tvs', 'enfield', 'hero', 'honda', 'tvs')
('ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun', 25, 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun', 25, 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun', 25, 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun', 25)
('ravila', 'chinni', 'ravi', 222, 'someshwar', 'raju', 'kight', 'ravila', 'chinni', 'ravi', 222, 'someshwar', 'raju', 'kight', 'ravila', 'chinni', 'ravi', 222, 'someshwar', 'raju', 'kight')
('vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'rakesh', 'mahesh', 9.32, 'bhuvan', 'tinku', 'naveen', 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'rakesh', 'mahesh', 9.32, 'bhuvan', 'tinku', 'naveen', 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun')
('sai', 'lokesh', 'vamsi', 'sunny', 'saiteja', 'enfield', 'hero', 'honda', 'tvs', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'rakesh', 'mahesh', 9.32, 'bhuvan', 'tinku', 'naveen', 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun', 'sai', 'lokesh', 'vamsi', 'sunny', 'saiteja', 'enfield', 'hero', 'honda', 'tvs', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'rakesh', 'mahesh', 9.32, 'bhuvan', 'tinku', 'naveen', 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun', 'sai', 'lokesh', 'vamsi', 'sunny', 'saiteja', 'enfield', 'hero', 'honda', 'tvs', 'vasu', 'kittu', 'pranay', 'lokesh', 'shiva', 'rakesh', 'mahesh', 9.32, 'bhuvan', 'tinku', 'naveen', 'ganesh', 'chandhu', 'praveen', True, 'manoj', 'varun')
('sai', 'lokesh', 'vamsi', 'sunny', 'saiteja', 'enfield', 'hero', 'honda', 'tvs')
('bikes', 1.72, 'banana', 543, False, False, 'apple', 2.45, 'bikes', 1.72, 'banana', 543, False, False, 'apple', 2.45, 'bikes', 1.72, 'banana', 543, False, False, 'apple', 2.45)
(25, 25)
('rakesh', 'mahesh', 9.32, 'bhuvan', 'tinku', 'naveen', 'rakesh', 'mahesh', 9.32, 'bhuvan', 'tinku', 'naveen', 'rakesh', 'mahesh', 9.32, 'bhuvan', 'tinku', 'naveen')