In [3]:
# Arthmetic Operator
a = 2
b = 6
#addition
c = a + b
print(c)
#subtraction
c = a - b
print(c)
#multiplication
c = a * b
print(c)
#division
c = a / b
print(c)
#modulus (Quo)
c = a % b
print(c)
#exponentiation
c = a ** b
print(c)
#floor division (rem)
c = a // b
print(c)

8
-4
12
0.3333333333333333
2
64
0

In [7]:
#assignment operators
#addition assignment
A = 15
B = 12
A+=B
print(A)
#subtraction assignment
X = 5
Y = 4
X-= Y
print(X)
#multiplication assignment
P = 14
Q = 2
P*= Q
print(P)
#division assignment
U = 18
V = 9
U/= V
print(U)
#modulus assignment
G = 18
H = 4
G%=H
print(G)
#floor assignment
M = 16
N = 3
M //=N
print(M)

27
1
28
2.0
2
5

In [9]:
#COMPARISION OPERATORS
#is equal to
x = 78
y = 66
z = 78
print(x == y)
print(x == z)
#not equal to
print(x != y)
print(x != z)
#greater than
print(x > y)
print(x > z)
#less than
print(x < y)
print(y < x)
#greater than or equal to
print(x >= y)
print(z >= x)
#less than or equal to
print(x <= y)
print(y <= z)

False
True
True
False
True
False
False
True
True
True
False
True

In [11]:
#LOGICAL OPERATORS
a = 10
b = 13
#and operator
print(a > b and b < a)
print(a < b and b > a)
#or operator
print(a > b or b > a)
print(a > b or b < a)
#not operation
print(not(a > b or b > a))
print(not(a < b and b < a))

False
True
True
False
False
True

In [13]:
#Identity Opearators
last_bencher = "suresh"
front_bencher = "ramesh"
print(last_bencher is front_bencher)
print(last_bencher is not front_bencher)

x = "banana","apple","mango"
y = "ramesh","suresh","banana"
print(x is y)
print(y is not x)

village = "kittu","vasu","chandhu"
city = "abc","bcd","cde"
town = village
print(village is city)
print(village is town)
print(village is not town)

False
True
False
True
False
True
False

In [15]:
#Membership Operator
class1 = 1,2,3,4,5,6
class2 = 7,8,9,10,11
class3 = 12,13,14,15
print(8 in class2)
print(2 in class2)
print(13 in class3)
print(3 not in class1)
print(11 not in class2)
print(6 not in class3)

True
False
True
False
False
True

In [17]:

#Bitwise AND Operator
a = 9
b = 14
print(a & b)

c = 447
d = 430
print(c & d)

e = 333
f = 3
print(e & f)

g = 971
h = 1493
print(g & h)

#Bitwise OR Operator
a = 9
b = 14
print(a | b)

c = 447
d = 430
print(c | d)

e = 333
f = 3
print(e | f)

g = 971
h = 1493
print(g | h)

#Bitwise XOR Operator
a = 9
b = 14
print(a ^ b)

c = 447
d = 430
print(c ^ d)

e = 333
f = 3
print(e ^ f)

g = 971
h = 1493
print(g ^ h)

8
430
1
449
15
447
335
2015
7
17
334
1566

In [19]:
#left shift
a = 2391
b = 4
print(a << b)

a = 7191
b = 2
print(a << b)

a = 32
b = 29
print(a << b)

38256
28764
17179869184

In [21]:
#right shift
a = 5121
b = 1
print(a >> b)

a = 3029
b = 3
print(a >> b)

a = 98
b = 39
print(a >> b)

2560
378
0