In [1]:
#empty_dict{}

In [21]:
mixed_dict={ 'name':'reddy',
            'age':30,
            'grades':[80,90,75]  
           }
            
student={ 'name':'sai',
          'age':65,   
          'grade':'A',
}
print(student['name'])
print(mixed_dict['grades'])
print(student['age'])

sai
[80, 90, 75]
65

In [51]:
#modifiying an entry
student={'name':'saikrishna',
         'age': 64,
         'grade':'c'
        }
student['age']=22
print(student)

student['name']='kittu'
print(student) 

student['grade']='A+'
print(student)

#adding a new key
student['gender']='male'
print(student)

student['qualification']='btech'
print(student)

student['address']='warangal'
print(student)

student['college']='Vaagdevi college'
print(student)

{'name': 'saikrishna', 'age': 22, 'grade': 'c'}
{'name': 'kittu', 'age': 22, 'grade': 'c'}
{'name': 'kittu', 'age': 22, 'grade': 'A+'}
{'name': 'kittu', 'age': 22, 'grade': 'A+', 'gender': 'male'}
{'name': 'kittu', 'age': 22, 'grade': 'A+', 'gender': 'male', 'qualification': 'btech'}
{'name': 'kittu', 'age': 22, 'grade': 'A+', 'gender': 'male', 'qualification': 'btech', 'address': 'warangal'}
{'name': 'kittu', 'age': 22, 'grade': 'A+', 'gender': 'male', 'qualification': 'btech', 'address': 'warangal', 'college': 'Vaagdevi college'}

In [75]:
#dictionary method
#get()
student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college',
        }
A=student.get('grade')
B=student.get('gender','not specified',)
C=student.get('bike','no value')
D=student.get('class')
E=student.get('college')
print(A)
print(B)
print(C)
print(D)
print(E)

A
male
no value
None
vaagdevi college

In [85]:
#keys
student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
key=student.keys()
print(key)

company={'job':'web developer',
          'salary':'45k'
        }
print(company.keys())

dict_keys(['name', 'gender', 'grade', 'location', 'qualification', 'college'])
dict_keys(['job', 'salary'])

In [101]:
#values()
student={'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
values=student.values()
print(values)

company={'job':'web developer',
          'salary':'45k'
        }
values=company.values()
print(values)

classroom ={'student':'10',
       'subject':'6'
      }
values= classroom.values()
print(values)

dict_values(['sai', 'male', 'A', 'warangal', 'btech', 'vaagdevi college'])
dict_values(['web developer', '45k'])
dict_values(['10', '6'])

In [111]:
#items()
student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
items=student.items()
print(items)

company={'job':'web developer',
          'salary':'45k'
        }
items=company.items()
print(items)

classroom ={'student':'10',
       'subject':'6'
      }
items=classroom.items()
print(items)

dict_items([('name', 'sai'), ('gender', 'male'), ('grade', 'A'), ('location', 'warangal'), ('qualification', 'btech'), ('college', 'vaagdevi college')])
dict_items([('job', 'web developer'), ('salary', '45k')])
dict_items([('student', '10'), ('subject', '6')])

In [117]:
#pop() 
student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
pop=student.pop('location')
print(pop)

student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
pop=student.pop('college')
print(pop)

student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
pop=student.pop('gender')
print(pop)

warangal
vaagdevi college
male

In [131]:
#popitems()
student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
last_item=student.popitem()
print(last_item)

company={'job':'web developer',
          'salary':'45k'
        }
last_item=company.popitem()
print(last_item)

student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
last_item=student.popitem()
print(last_item)

classroom ={'student':'10',
       'subject':'6'
      }
last_item=classroom.popitem()
print(last_item)

('college', 'vaagdevi college')
('salary', '45k')
('college', 'vaagdevi college')
('subject', '6')

In [141]:
#update()
student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
new_data={'name':'kittu','grade':'A+'}
student.update(new_data)
print(student)

student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
new_data={'location':'hyderabad'}
student.update(new_data)
print(student)

student={ 'name':'sai',
          'gender':'male',   
          'grade':'A',
          'location':'warangal',
          'qualification':'btech',
          'college':'vaagdevi college'
        }
new_data={'qualification':'mtech'}
student.update(new_data)
print(student)

{'name': 'kittu', 'gender': 'male', 'grade': 'A+', 'location': 'warangal', 'qualification': 'btech', 'college': 'vaagdevi college'}
{'name': 'sai', 'gender': 'male', 'grade': 'A', 'location': 'hyderabad', 'qualification': 'btech', 'college': 'vaagdevi college'}
{'name': 'sai', 'gender': 'male', 'grade': 'A', 'location': 'warangal', 'qualification': 'mtech', 'college': 'vaagdevi college'}