In [9]:
#string method
#len()
A = "Thirothamala"
B = "abcdefghijklmnopqrstuvwxyz"
C="errehiuoeyfoeiql"
D="saikrishna"
E="teks"
F="cricket"
G="rohit"
H="sharma"
I="kittu"
J="  hai "
length1=len(A)
length2=len(B)
length3=len(C)
length4=len(D)
length5=len(E)
length6=len(F)
length7=len(G)
length8=len(H)
length9=len(I)
length10=len(J)
print(length1)
print(length2)
print(length3)
print(length4)
print(length5)
print(length6)
print(length7)
print(length8)
print(length9)
print(length10)

12
26
16
10
4
7
5
6
5
6

In [17]:
#lower()/upper()
str1 = "welcome2"
str2 = "THANKYOU" 
str3="yes"
str4="NO"
str5="saikrishna"
str6="teks"
str7="lower"
str8="UPPER"
str9="sai7"
str10="bye"
print(str1.upper())
print(str2.lower())
print(str3.upper())
print(str4.lower())
print(str5.upper())
print(str6.upper())
print(str7.upper())
print(str8.lower())
print(str9.upper())
print(str10.upper())

WELCOME2
thankyou
YES
no
SAIKRISHNA
TEKS
LOWER
upper
SAI7
BYE

In [1]:
#strip(removes white spaces)
str1 ="  kittu  "
str2 ="                                        hai sir        "
str3 ="                        golconda "
str4 ="    &ravila  "
str5 ="chinni    "
str6 ="    /yes "
str7 ="                                                              python course"
str8 =" 3.10.2    "
str9 ="                               A B C D "
str10 ="pavan"
print(str1.strip())
print(str2.strip())
print(str3.strip())
print(str4.strip())
print(str5.strip())
print(str6.strip())
print(str7.strip())
print(str8.strip())
print(str9.strip())
print(str10.strip())

kittu
hai sir
golconda
&ravila
chinni
/yes
python course
3.10.2
A B C D
pavan

In [13]:
#replace()#old value,new value
my_string1 = "hello,hai"
my_string2 = "1,2,3,5"
my_string3 = "pythos"
new_string1 = my_string1.replace("hai","world")
new_string2 = my_string2.replace("5","4")
new_string3 = my_string3.replace("s","n")
print(new_string1)
print(new_string2)
print(new_string3)

hello,world
1,2,3,4
python

In [23]:
#split(split the string into a list of substring)
A = "vamshi is a bad boy but good in studies"
words = A.split()
print(words)

B = "tata punch car looking good but milege is low"
words = B.split()
print(words)

C = "1 2 3 4 5 6 7 8 9"
words = C.split()
print(words)

D = " TCS is the multi national corporation"
words = D.split()
print(words)

['vamshi', 'is', 'a', 'bad', 'boy', 'but', 'good', 'in', 'studies']
['tata', 'punch', 'car', 'looking', 'good', 'but', 'milege', 'is', 'low']
['1', '2', '3', '4', '5', '6', '7', '8', '9']
['TCS', 'is', 'the', 'multi', 'national', 'corporation']

In [29]:
#join(joins a list of string into a single)
words = ['C''R''I''C''K''E''T']
joined_string = ' '.join(words)
print(joined_string)

words = ['R''O''H''I''T''S''H''A''R''M''A']
joined_string = ' '.join(words)
print(joined_string)

numbers = ['6''3''0''5''5''8''1''5''6''6']
joined_string = ' '.join(numbers)
print(joined_string)

str = 'information  ' 'technology '  'consulting ' 'company'
joined_string =''.join(str)
print(joined_string)

CRICKET
ROHITSHARMA
6305581566
information  technology consulting company

In [35]:
#casefold()
str1 ="pROgramming LANGuagE"
lowercased_string = str1.casefold()
print(lowercased_string)

str2 ="opEN sourE"
lowercased_string =str2.casefold()
print(lowercased_string)

programming language
open soure

In [39]:
#count()
str1 = "python is a open source"
print(str1.count('o'))

str2 = "data structured algorithms"
print(str2.count('i'))

3
1