In [3]:
#string method
#len()
A = "Thirothamala"
length = len(A)
print(length)

B = "abcdefghijklmnopqrstuvwxyz"
length = len(B)
print(length)

12
26

In [5]:
#lower()/upper()
str1 = "welcome"
print(str1.upper())

str2 = "THANKYOU"
print(str2.lower())

WELCOME
thankyou

In [35]:
#strip(removes white spaces)
my_string = "  kittu  "
stripped_string = my_string strip(kittu)
print(stripped_string)

SyntaxError: invalid syntax (4189152688.py, line 3)

In [37]:
#replace()#old value,new value
my_string = "hello,hai"
new_string = my_string.replace("hai","world")
print(new_string)

my_string = "1,2,3,5"
new_string = my_string.replace("5","4")
print(new_string)

hello,world
1,2,3,4

In [43]:
#split(split the string into a list of substring)
A = "vamshi is a bad boy but good in studies"
words = A.split()
print(words)

B = "tata punch car looking good but milege is low"
words = B.split()
print(words)

C = "1 2 3 4 5 6 7 8 9"
words = C.split()
print(words)

['vamshi', 'is', 'a', 'bad', 'boy', 'but', 'good', 'in', 'studies']
['tata', 'punch', 'car', 'looking', 'good', 'but', 'milege', 'is', 'low']
['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [55]:
#join(joins a list of string into a single)
words = ['C''R''I''C''K''E''T']
joined_string = ' '.join(words)
print(joined_string)

words = ['R''O''H''I''T''S''H''A''R''M''A']
joined_string = ' '.join(words)
print(joined_string)

numbers = ['6''3''0''5''5''8''1''5''6''6']
joined_string = ' '.join(numbers)
print(joined_string)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2102662224.py, line 2)